{% extends 'base.html' %}
<!-- <style>

.admin-side {
    width: 300px;
    background-color: #041416;
    color: white;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    padding-bottom: 50px;
    border-right: 2px solid white;
}

.admin-side .logo{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.admin-side .logo a{
    text-decoration: none;
    color: white;
    font-size: 10px;

}
.admin-side .logo img {
    max-width: 30%;
    height: auto;
}
.admin-side .logo h4{
    font-size: 16px;
    color: white;
}
.admin-side .logo span{
    color: #24CFED;
}

.sidebar-navigation a {
    display: block;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar-navigation a:hover {
    background-color: #24CFED;
    color: black;
    border-left: 3px solid whitesmoke;
    
}

@media (max-width: 768px) {
    .admin-side {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar-navigation a {
        text-align: center;
    }
}

</style> -->

{% block content %}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'admin.css' %}">

<div class="dashboard">
    <div class="admin-side sidebar">
        <div class="logo container">
                <img src="{% static 'Images/publicpulselogo.png' %}" alt="Public Pulse Logo">
                <a href="/">
                    <h4>Public<span>Pulse</span></h4>
                </a>
        </div>
        <div class="sidebar-navigation">
            <a href="">Dashboard Overview</a>
            <a href="user_management">User Management</a>
            <a href="interaction_management">Interaction Management</a>
            <a href="overall_sentiment_score">Sentiment Analysis</a>
            <a href="#">Recommendation Engine</a>
        </div>
    </div>
    <div class="main">
        <div class="content">
            <div class="complaints">
                <div class="dashboard_overview">
                    <h2>Dashboard</h2>
                    <div>Total Complaints: {{ total_complaints }}</div>
                    <div>New Complaints: {{ new_complaints }}</div>
                    <div>Resolved Complaints: {{ resolved_complaints }}</div>
                    <div>Pending Complaints: {{ pending_complaints }}</div>
                   
                </div>
            </div>
        </div>
    </div>        
</div>


{% endblock %}
