/* General Styles */
* {
    margin: 0;
    padding: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    border-left: 3px solid #007bff;

}

/* Dashboard Layout */
.dashboard {
    display: flex;
    flex-wrap: wrap;
}

.admin-side {
    background-color: #343a40;
    color: #ffffff;
    min-width: 240px;
    text-decoration: none;
    flex: 1;
    padding: 20px;
}

.logo-container img {
    max-width: 70%;
    margin-bottom: 20px;
}

.sidebar-navigation a {
    display: block;
    padding: 10px 0;
    color: #ffffff;
    transition: background-color 0.3s;
}

.sidebar-navigation a:hover {
    background-color: #495057;
}

/* Content Area */
.content {
    flex: 4;
    padding: 20px;
}

/* Sentiment Analysis, Keywords, and Category Sentiments Sections */
.sentiment-analysis, .keywords, .category_sentiments {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #333;
    margin-bottom: 15px;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #dee2e6;
}

th {
    background-color: #f8f9fa;
}

/* Responsive Design */
@media (max-width: 768px) {
    .admin-side, .content {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .admin-side {
        padding-bottom: 20px;
    }
    
    .content {
        padding-top: 20px;
    }
}

/* Enhancements for DataTables */
.dataTables_wrapper .dataTables_filter {
    float: right;
}

.dataTables_wrapper .dataTables_length {
    float: left;
}

/* chats filter */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 5rem auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.filter-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.filter-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-form button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .filter-form form {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-form button {
        width: 100%; /* Makes the button full-width on smaller screens */
    }
}    