{% extends 'base.html' %}
{%load static%}
{%block styles%}
<style>

.admin-side {
    width: 300px;
    background-color: #041416;
    color: white;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    padding-bottom: 50px;
    border-right: 2px solid white;
}

.admin-side .logo{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.admin-side .logo a{
    text-decoration: none;
    color: white;
    font-size: 10px;

}
.admin-side .logo img {
    max-width: 30%;
    height: auto;
}
.admin-side .logo h4{
    font-size: 16px;
    color: white;
}
.admin-side .logo span{
    color: #24CFED;
}

.sidebar-navigation a {
    display: block;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar-navigation a:hover {
    background-color: #24CFED;
    color: black;
    border-left: 3px solid whitesmoke;
    
}

@media (max-width: 768px) {
    .admin-side {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar-navigation a {
        text-align: center;
    }
}

</style>
{%endblock%}
{% block content %}

<div class="admin-side sidebar">
    <div class="logo container">
       
            <img src="{% static 'Images/publicpulselogo.png' %}" alt="Public Pulse Logo">
            <a href="/">
                <h4>Public<span>Pulse</span></h4>
            </a>
    </div>
    <div class="sidebar-navigation">
        <a href="chatbot/overall_sentiment_score">Sentiment Analysis</a>
        <a href="#">Recommendation Engine</a>
    </div>
</div>

{% endblock %}
