{% extends 'base.html' %}
{%load static%}
{%block styles%}
<style>

.admin-side {
    width: 250px;
    background-color: #0b1516;
    color: white;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    padding-bottom: 50px;
}

.logo-container {
    padding: 20px;
    text-align: center;
}

.logo-container img {
    max-width: 50%;
    height: auto;
}

.sidebar-navigation {
    margin-top: 120px;
}

.sidebar-navigation a {
    display: block;
    color: #ccc;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar-navigation a:hover {
    background-color: #34495E;
    color: #fff;
}

@media (max-width: 768px) {
    .admin-side {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar-navigation a {
        text-align: center;
    }
}

</style>
{%endblock%}
{% block content %}

<div class="admin-side">
    <div class="logo-container">
        <a href="/">
            <img src="{% static 'Images/publicpulselogo.png' %}" alt="Public Pulse Logo">
        </a>    
    </div>
    <nav class="sidebar-navigation">
        <a href="chatbot/overall_sentiment_score">Sentiment Analysis</a>
        <a href="#">Recommendation Engine</a>
    </nav>
</div>

{% endblock %}
