{% extends 'base.html' %}
{%block content%}
{% load static %}

    <div class="sentiment-analysis">
        {%include 'admin_dashboard.html' %}
       
        <div class="sentiment container-fluid">
            <h1>Sentiment Analysis Results</h1>
            <ul>
               <!-- {% for message in messages %}
               <li>{{ message.message }}: {{message.sentiment_status}}</li><br>
               {% endfor %} -->
                <h2>Overall Sentiment: {{overall_sentiment}}</h2>
               
                <p>Average score: {{average_score}}</p>
               
              
            </ul>
        </div>
    </div>
{% endblock %}
